@import 'utilities/_colors.less';
@import 'utilities/_mixins.less';
body {
    font-size: 100%;
    padding-top: 30px;
    user-select: none;
    background-image: url(../assets/img/background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
* {
    outline: none;
}
.button {
    padding: 0;
    border: none;
    background: transparent;
    &-return {
        position: absolute;
        top: 30px;
        border: none;
        background: transparent;
    }
}
.panel-options-game {
    margin-top: 130px;
}
.options {
    &-title {
        text-align: center;
        color: #fff;
    }
}
.panel-start-game {
    .clock-canvas {
        margin-left: 30px;
    }
    .info {
        font-size: 2em;
        text-align: center;
        color: #fff;
    }
    .choice {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .h {
        font-size: 6em;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        color: #000;
    }
    .hour {
        font-size: 6em;
        padding: 10px;
        text-align: center;
        border: 5px solid #d6d6d6;
        border-radius: 10px;
        background-color: #fff;
    }
    .minute {
        font-size: 6em;
        padding: 10px;
        text-align: center;
        border: 5px solid #d6d6d6;
        border-radius: 10px;
        background-color: #fff;
    }
}
.panel-choice-options {
    padding: 10px;
    border: 10px solid #d6d6d6;
    border-radius: 20px;
    background-color: #fff;
    .button {
        padding: 2px;
    }
}
.panel-credits {
    color: #fff;
    p {
        font-size: 2em;
    }
}
.ngdialog.ngdialog-theme-default {
    & .ngdialog-buttons {
        margin-top: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }
    & .ngdialog-content {
        padding: 10px;
        text-align: center;
        border: 5px solid #d6d6d6;
        border-radius: 10px;
        background-color: #fff;
        p {
            font-size: 2em;
            font-weight: bold;
            color: #000;
        }
    }
    & .ngdialog-close {
        top: -25px;
        right: -20px;
        width: 60px;
        height: 60px;
        background-image: url(../assets/img/cross.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &:before {
            display: none;
        }
    }
}