@import 'utilities/_colors.less';
@import 'utilities/_mixins.less';
body {
    font-size: 100%;
    padding-top: 100px;
    user-select: none;
    background-image: url(../assets/img/background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
* {
    outline: none;
}
.button {
    padding: 0;
    border: none;
    background: transparent;
    &-return {
        position: absolute;
        top: 30px;
        border: none;
        background: transparent;
    }
}
.panel-options-game {
    margin-top: 60px;
}
.options {
    &-title {
        text-align: center;
        color: #fff;
    }
}
.panel-start-game {
    .clock-canvas {
        margin-left: 30px;
    }
    .info {
        font-size: 2em;
        text-align: center;
        color: #fff;
    }
    .h {
        font-size: 6em;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        color: #000;
    }
    .choice {

    }
    .hour {
        font-size: 6em;
        height: 90px;
        text-align: center;
        border: none;
        background-color: transparent;
        background-image: url(../assets/img/span.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .minute {
        font-size: 6em;
        height: 90px;
        text-align: center;
        border: none;
        background-color: transparent;
        background-image: url(../assets/img/span.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
.ngdialog.ngdialog-theme-default {
    & .ngdialog-buttons {
        padding-right: 20px;
        padding-left: 20px;
    }
    & .ngdialog-content {
        background-color: transparent;
        background-image: url(../assets/img/span.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-origin: padding-box;
        background-size: cover;
    }
    & .ngdialog-close {
        top: -25px;
        right: -20px;
        width: 60px;
        height: 60px;
        background-image: url(../assets/img/cross.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &:before {
            display: none;
        }
    }
}