<button class="button-return" onclick="location.href='#'"  title="Retour"><img class="img-responsive" src="../build/assets/img/retour.png" alt="Retour"></button>
<section class="panel-start-game col-lg-4 col-lg-offset-4">
    <div id="clock-canvas" class="clock-canvas"></div>
    <p class="info" ng-bind="clock.info"></p>
    <div class="choice row">
        <div class="col-lg-2">
            <button class="button" ng-click="onIncreaseHour()"  title="Augmenter heure"><img class="img-responsive" src="../build/assets/img/button_up.png" alt="Augmenter heure"></button>
            <button class="button" ng-click="onDecreasedHour()" title="Diminué heure"><img class="img-responsive" src="../build/assets/img/button_down.png" alt="Diminué heure"></button>
        </div>
        <input type="text" id="hour" class="dial hour col-lg-3" ng-model="hour" title="Heure" required>
        <p class="h col-lg-2" >h</p>
        <input type="text" id="minute" class="dial minute col-lg-3" ng-model="minute" title="Minute" required>
        <div class="col-lg-2">
            <button class="button" ng-click="onIncreaseMinute()"  title="Augmenter minute"><img class="img-responsive" src="../build/assets/img/button_up.png" alt="Augmenter minute"></button>
            <button class="button" ng-click="onDecreasedMinute()" title="Diminué minute"><img class="img-responsive" src="../build/assets/img/button_down.png" alt="Diminué minute"></button>
        </div>
    </div>
    <button class="button" ng-click="onMatchedTimeClock()"  title="Vérifier"><img class="img-responsive" src="../build/assets/img/verify.png" alt="Vérifier"></button>
</section>